* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 50px auto;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 5px #213468;
          box-shadow: 0 5px 5px #213468;
}

.card-left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #213468;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.card-left__header {
  letter-spacing: 1.5px;
  color: #F57C00;
}

.card-left__pic {
  width: 95%;
}

.card-right {
  width: 70%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.card-right__header {
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-right__header h3 {
  color: #1f1f1f;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-top: 3%;
  margin-bottom: 12px;
}

.card .row {
  width: 85%;
  margin: 0 auto;
}

.card .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.card .form-row__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.card .form-group {
  position: relative;
}

.card .form-row__input {
  padding: 10px;
  border: none;
  font-size: 16px;
  padding: 10px 16px;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card .form-row__input:focus {
  border-bottom-color: #008080;
  -webkit-box-shadow: 0 0 5px #005000;
          box-shadow: 0 0 5px #005000;
  border-radius: 4px;
}

.card .form-row__seria {
  width: 30%;
  padding: 10px;
  background: #DDDDDD;
  color: #1f1f1f;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card .form-row__input-seriya {
  width: 30%;
  padding: 10px;
  border: none;
  font-size: 16px;
  padding: 10px 16px;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card .form-row__input-seriya:focus {
  border-bottom-color: #008080;
  -webkit-box-shadow: 0 0 5px #005000;
          box-shadow: 0 0 5px #005000;
  border-radius: 4px;
}

.card .form-row__gender {
  width: 50%;
  padding: 10px;
  background: #DDDDDD;
  color: #1f1f1f;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card h6 {
  text-align: center;
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 300;
}

.card .date {
  width: 30%;
  padding: 10px;
  background: #DDDDDD;
  color: #1f1f1f;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card .form-check {
  color: #1f1f1f;
  font-size: 14px;
  margin-bottom: 25px;
}

.card .signup-btn {
  background-color: #F57D29;
  color: #fff;
  padding: 12px 15px;
  font-size: 11px;
  text-transform: uppercase;
  border-color: #F57C00;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 25px;
  cursor: pointer;
  line-height: 14px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .signup-btn:hover {
  background-color: #213468;
  border-color: #213468;
}

.card .form-footer {
  font-size: 14px;
  padding-left: 42px;
  padding-bottom: 20px;
  color: #777;
}

.card .form-eye {
  position: absolute;
  top: 12px;
  right: 30px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.error-message {
  display: block;
  padding-top: 5px;
  color: red;
}

.error {
  color: red;
}

.succes {
  color: green;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
  pointer-events: none;
  z-index: 2;
}

.icon-error {
  fill: red;
}

.icon-success {
  fill: green;
}

.hidden {
  display: none;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-btn {
  background-color: #F57D29;
  color: #fff;
  padding: 12px 15px;
  font-size: 11px;
  text-transform: uppercase;
  border-color: #F57C00;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 25px;
  cursor: pointer;
  line-height: 14px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.info-btn:hover {
  background-color: #213468;
  border-color: #213468;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #fff;
  width: 500px;
  max-width: 80%;
}

.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  border-bottom: 2px solid #3d3d3d;
}

.modal-title {
  font-size: 24px;
}

.close-button {
  font-size: 24px;
  border: none;
  cursor: pointer;
  background: none;
}

.modal-body {
  padding: 25px 20px;
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: -100%;
  bottom: -100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=main.css.map */